:root{
    --box-shadow: 5px 5px 10px 10px rgba(101,175,10,0.5);
    --bg-color:rgb(40,47,97);
}


body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.nav_bar .nav_items{
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav_bar .nav_items:hover{
    border-bottom: 3px solid yellow;
}

/* hero */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh !important;
    margin-bottom: 10px;
}
.home .left{
    background-color: black;
    width: 620px;
    text-align: center;
    padding: 30px;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.home .right .img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.home .right .img img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    animation-name: superman;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes superman{
    0%{
       border-color: blue;
       transform: translate(0,0px);
       box-shadow: 10px 10px 100px 50px blue;
    }
    25%{
       border-color: rgb(239,244,11);
       box-shadow: 10px 10px 100px 50px rgb(239,244,11);
    }
    50%{
        border-color: rgb(12,12,199);
       transform: translate(0,10px);
       box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    }
    75%{
        border-color: rgb(130,217,160);
       box-shadow: 10px 10px 100px 50px rgb(130,217,160);
    }
    100%{
        border-color: rgb(50,55,205);
       transform: translate(0,-0px);
       box-shadow: 10px 10px 100px 50px rgb(50,55,205);
    }
}

/* experience */
.ex{
    width: 900px;

}
.ex-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    margin: 20px;
    padding: 30px;
    width: 800px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
}

/* skills */

.skills{
    width: 900px;
}
.skills .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: black; */
    /* width: 800px; */
    margin: auto;
}
.skills .items .item{
     width: calc(25%);
     background-color: black;
     margin: 20px;
     padding: 20px;
     text-align: center;
     border-radius: 10px;
     box-shadow: var(--box-shadow);
     border: 1px solid yellow;
}
.skills .items .item img{
    width: 70px;
}
/* project */
#project-data{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid yellow;
}
/* contact */
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.contact-icon .item{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid yellow;
}
.contact-icon .item:hover{
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
}
.contact-icon .item .icons{
    font-size: 2rem;
}

@media screen and (max-width: 500px){
    .home{
    display: block !important;
    padding-top: 30px;
    height: fit-content;
}
.home .left{
     width: 520px !important;
     margin: 40px 0px;
}
.home .right .img{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 30px 0px;
}
.home .right .img img{
    margin-left: 180px;
    width: 250px;
    height: 300px;
} 

.ex{
    width: 100%;
}
.ex-items{
    margin: 10px;
    width: 549px;
}
.skills{
    width: 559px;
}
#project-box{
  margin-left: 270px !important;
}
.contact-icon{
    margin-left: 250px;
}
}